[2021-11-23 19:43] Jacob-CG opened #6 "[Recipe] Staking"
Add Staking section that includes the following:
- Get Current Validators
- Create Stake Account
- Delegate specified stake amount
- Deactivate Stake
- Withdraw stake

[2021-11-23 19:46] Jacob-CG opened #7 "[Recipe] Offline Transactions"
Offline Transactions section will include:
- Signing a transaction with an offline account
- Creating and using a durable nonce account
- Full end to end usage of offline transactions

[2021-11-23 19:48] Jacob-CG opened #8 "Token"
The Token section will include:
- Minting Tokens
- Mint Authority Info
- Burning Tokens
- Creating Token Multisig
- Managing Wrapped SOL

[2021-11-23 19:49] Jacob-CG opened #9 "Serialization"
The serialization section will include:
- Using Borsh to serialize/deserialize data
- How to deserialize data with various languages

And more

[2021-11-23 19:57] Jacob-CG opened #10 "[Recipe] Accounts Section"
Accounts Section will need:
- ~~Creation of PDAs~~
- Creation of accounts owned by both program and user (publickey.createwithseed)
- ~~Creation of Token Account~~
- Closing Account
- ~~Signing with PDA~~
- Get Balance

[2021-11-30 02:28] bfriel commented on #6
Can I take a stab at this?

[2021-11-30 02:41] Jacob-CG commented on #6
@bfriel Go right ahead. There are a lot of resources [here](https://docs.solana.com/developing/clients/javascript-reference#staking) that will be a good start.

[2021-11-30 20:18] Jacob-CG opened #22 "[Recipe] Serialization"
For the Serialization section, we need the following:

- Snippets on serialization/deserialization between a rust program and typescript

At the very least we should have examples of serialization between:
- `u64`
- boolean
- enum
- fixed-size byte array

The snippet should be structured like the following:

[code]

[code]

[code]

[2021-11-30 20:22] #8 closed

[2021-11-30 20:36] #22 closed

[2021-11-30 20:37] jacobcreech opened #23 "[Recipe] NFTs"
The NFT Recipe should contain the following:

Todo:
- How to get Mint Addresses generated given a Candy Machine address

Completed:
- ~~How to create a NFT token(just a single token with no mint authority~~
- ~~How to create a NFT using Metaplex~~
- ~~How to get NFT owner given a mint~~
- ~~Get NFT Metadata~~

[2021-11-30 21:37] Jacob-CG opened #24 "[Recipe] Programs"
An excellent recipe would be a program cheatsheet containing at least the following

- How to get clock in a program
- How to do CPI(With transfer example)
- Create a PDA
- Reading Account
- Verify Account

[2021-11-30 22:10] Jacob-CG opened #25 "[Component] Code Preview"
We're looking to incorporate a code preview component that will allow people to switch between a code preview and the full source code.

The code preview be like [MUI's code preview](https://mui.com/components/buttons/#basic-button) with a few changes.

1. Source language should always be viewable
2. Button to switch between preview/full source on specific language selected
3. Button will switch o

[2021-11-30 22:13] jacobcreech opened #26 "[Guide] Debugging"
A recipe defining how to debug programs would be greatly helpful to new developers

Recipe should have at least the following:

- Debugging transaction failure
- Creating custom program error codes
- Logging in a Program

[2021-11-30 22:14] Jacob-CG opened #27 "[Design] Logo"
There's currently no logo for the cookbook. Open to any suggestions

[2021-11-30 22:26] Jacob-CG opened #28 "[Snippet] Memos"
Adding a memo to a transaction in the `Basic Transactions` section would be helpful.

- How to add a memo to a transaction

[2021-11-30 22:28] Jacob-CG opened #29 "[Recipe] Governance"
Showing how to use Governance with web3/Rust would be helpful:

- Create a DAO
- Make a Proposal
- Vote on Proposal

[2021-12-01 01:25] timhanlon commented on #25
I'll take a stab at this.

[2021-12-01 01:38] Jacob-CG commented on #25
Awesome! Look forward to seeing what is made. If you have any questions, please let me know.

[2021-12-01 03:22] #6 closed

[2021-12-01 15:03] sayantank commented on #23
Hi, I would like to take up this recipe, but I wouldn't call myself an expert in Solana. I hope that isn't an issue.

[2021-12-01 15:37] Jacob-CG commented on #23
@sayantank Best to run the code in a separate repo. They're just examples of paste-able code.

No expertise required for Adding Recipes! I learned a lot trying to write some of these. I'll assign this to you. Let me know of any questions or progress.

As a side note, make sure you use metaplex's js libraries when doing the metaplex-related snippets

[2021-12-01 16:38] hogyzen12 commented on #23
Im happy to assist with this as required. Have it bookmarked. sayantank reach out if u need anything !

[2021-12-01 17:40] murlokito opened #35 "[Lang] C# snippets"
The goal is to add snippets for the existing recipes for C#.

In some recipes it may be the case that features haven't yet been implemented/properly tested in the Solnet.* ecosystem of libraries, should we just skip those? Open to suggestions.

[2021-12-01 17:45] Jacob-CG commented on #35
Awesome. Any snippets are fine. We're skipping some of the CLI sections that are not supported at this time, so filling out what you can is good

[2021-12-01 17:46] murlokito commented on #35
Ok cool, I'll get started with some :)

[2021-12-02 00:39] silvestrevivo commented on #28
Reading the docs and after checking several answer on the Discord server, it seems we can add a memo to a transaction on this way:

[code]
`transferTransaction` is taken from the cookbook (Basic transactions). I will test it out on devnet to be sure it is working before open a PR.

[2021-12-02 04:44] sayantank commented on #23
Thanks guys! Means a lot. I'll get some code ready ASAP 🤓

[2021-12-02 07:00] sayantank commented on #23
I have a doubt, the first task requires us to create a **single** NFT token with no mint authority. So does that mean I create a `Mint` account and then use it to **mint** a single token to a user's associated account?

And, the `spl-token.Token.createMint()` function seems to require a public key as the **mint authority**. Am I missing something?

This is the piece of code error-ing out,
[code]
a

[2021-12-02 08:53] silvestrevivo commented on #27
This is the first idea that came to my mind ![image](https://user-images.githubusercontent.com/10574041/144389042-ef8eabde-66cf-4b2a-95e8-4b2ca7027a2d.jpeg)
![image](https://user-images.githubusercontent.com/10574041/144389090-42ed38f6-f5f7-4d24-8edb-160237b07fb5.jpeg)

The logo it becomes tree books on top of each other in perspective. 🙂

[2021-12-02 11:05] sayantank commented on #23
Another small query, does the Metaplex task requires us to mint a NFT using the Metaplex frontend or is there a npm library that I'm unaware about still?

Also, do you guys mind sharing your Discord, I could ask my queries there if this is too much hassle?

[2021-12-02 13:50] sunguru98 commented on #24
Hey, if you don't mind, may I take up on this issue please? Would love to contribute on this :)

[2021-12-02 20:05] #28 closed

[2021-12-02 21:37] #25 closed

[2021-12-02 21:50] Jacob-CG commented on #23
@sayantank The first issue is creating an NFT without a mint authority. Let me expand on that.

1. Create an NFT with a mint authority
2. Remove the mint authority so no more can be minted and it can actually be an NFT

Here's an example with the CLI: https://spl.solana.com/token#example-create-a-non-fungible-token
It is also possible with TS

Let me know if you have any other questions!

[2021-12-02 21:51] Jacob-CG commented on #23
On your second question, the metaplex js sdk is definitely what you should be using. Please contact me at JacobCG#3467 and I'll get you added to a discord

[2021-12-02 22:53] #7 closed

[2021-12-03 02:03] Jacob-CG opened #41 "[Ingredient] getProgramAccounts"
One thing a lot of developer get confused about if [`getProgramAccounts`](https://docs.solana.com/developing/clients/jsonrpc-api#getprogramaccounts).

**Section**: Ingredients

Questions this ingredient should answer:

How does `getProgramAccounts` work?
How do you properly use `dataSlice`?
How do you properly use `filters`?

Check out the structure on ingredients [here](https://github.com/solana-

[2021-12-03 02:19] Jacob-CG opened #43 "[Recipe] Serum"
A new recipe going over how to interact with Serum would be great

Would have something like the following:

- How to create an account on Serum
- How to create and order
- How to deserialize market data

You're welcome to use the serum sdk for this

[2021-12-03 02:23] Jacob-CG opened #44 "[Recipe] Mango Markets"
A recipe with reference implementations for Mango Markets would be good

Would contain something like the following:

- Create order on Mango Markets
- Get Borrow Lend Rates
- Get Bids
- Get Asks

You're welcome to use the [mango client](https://github.com/blockworks-foundation/mango-client-v3) for this

[2021-12-03 02:25] jacobcreech opened #45 "[Snippet] Get Stake Delegators by Validator"
A code snippet about getting accounts delegated to a specific vote account would be handy

In other words, get all accounts that are delegating their stake to a specific validator

[2021-12-03 02:42] Jacob-CG opened #46 "[Recipe] Pyth"
Would be great to have at least the following:

- Get data feed from pyth
- Poll for more data

[2021-12-03 02:43] jacobcreech opened #47 "[Snippet] Get all current validators"
Add a code snippet about getting the list of vote accounts or validators to the Staking section

[2021-12-03 03:07] yihau commented on #45
I think this part can melt into a sub part of #41
also can make more examples like get token account by mint, get mint account by token account ... and so on.
WDYT

[2021-12-03 03:10] yihau commented on #41
this part maybe can combine some information about "getAccountInfo" and how data store in to an account.
or we use another page to explain it.

[2021-12-03 03:14] Jacob-CG commented on #45
It could be as an example, but it should be ok to have it duplicated across ingredients and recipes. We could also link to it from the ingredient

The staking recipe should definitely have this though

[2021-12-03 03:15] Jacob-CG commented on #41
@yihau thinking about having another separate ingredient for accounts in general. Those would go there

[2021-12-03 03:17] yihau commented on #41
ok. I think it is also a good way too.

[2021-12-03 04:40] bfriel commented on #41
Is anyone working on this? If not, I'd like to @Jacob-CG

[2021-12-03 04:52] Jacob-CG commented on #41
@bfriel go for it!

[2021-12-03 05:23] bfriel commented on #27
Related: we should probably add some metatags that make this easier to share. I've found that setting [summary cards with large images on Twitter](https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/summary-card-with-large-image) really drives engagement. Right now we just have a link with no image.

![Screen Shot 2021-12-02 at 9 19 01 PM](https://user-images.githubuserconten

[2021-12-03 10:14] sayantank commented on #23
I put in a PR for the first task mentioned. Do let me know if I missed something!

[2021-12-03 21:18] Jacob-CG opened #50 "[Snippet] Connecting to a wallet with wallet adapter"
Show the basic code to connect to a wallet. Use [wallet-adapter](https://github.com/solana-labs/wallet-adapter)

Recipe: Keypairs and Wallets

Must have connection code for at least one of the following:

- React
- Vue
- Angular

[2021-12-03 21:35] Jacob-CG opened #52 "[Snippet] Verify Signature"
A great code snippet to have would be how to verify signature. It would go under Keypairs and Wallets Section

Given a signature, verify the message and that it came from a specific public key.

You would use tweetnacl for this in ts/js

[2021-12-03 21:54] Jacob-CG commented on #52
@maxrobot That seems to be just getting the message. What about verifying the signature?

I believe the correct function to use should be [nacl.sign.detached.verify](https://github.com/dchest/tweetnacl-js/blob/master/nacl.js#L1083). Also, make a PR with this! Make sure the code will run standalone too

[2021-12-03 22:03] Jacob-CG commented on #52
@maxrobot You could do both in the same, both verify and get the message. Just needs to be runable standalone and in a PR now

[2021-12-03 22:14] FrankC01 commented on #9
Sign me up

[2021-12-03 22:15] Jacob-CG commented on #9
@FrankC01 Gladly!

[2021-12-03 23:00] Jacob-CG opened #54 "[Previews] Add previews to account section"
Previews were added recently. Let's clean up the accounts section and add previews to everything.

Example of how it was done for [local development section](https://github.com/solana-dev-adv/solana-cookbook/commit/32098fc2feeb07e44b5dce0e6adbfc2b7f894d12)

[2021-12-03 23:01] Jacob-CG opened #55 "[Previews] Add previews to offline transactions section"
Previews were added recently. Let's clean up the offline transactions section and add previews to everything.

Example of how it was done for [local development section](https://github.com/solana-dev-adv/solana-cookbook/commit/32098fc2feeb07e44b5dce0e6adbfc2b7f894d12)

[2021-12-03 23:01] Jacob-CG opened #56 "[Preview] Add previews to staking section"
Previews were added recently. Let's clean up the staking section and add previews to everything.

Example of how it was done for [local development section](https://github.com/solana-dev-adv/solana-cookbook/commit/32098fc2feeb07e44b5dce0e6adbfc2b7f894d12)

[2021-12-03 23:02] Jacob-CG opened #57 "[Preview] Add previews to token section"
Previews were added recently. Let's clean up the token section and add previews to everything.

Example of how it was done for [local development section](https://github.com/solana-dev-adv/solana-cookbook/commit/32098fc2feeb07e44b5dce0e6adbfc2b7f894d12)

[2021-12-04 00:14] bfriel commented on #41
I plan to cover [getParsedProgramAccounts](https://solana-labs.github.io/solana-web3.js/classes/Connection.html#getParsedProgramAccounts) as well since that's replaced `jsonParsed` in web3js. Good with you @Jacob-CG ?

[2021-12-04 01:40] Jacob-CG commented on #41
@bfriel Should be fine. I was thinking this section goes more over how `getProgramAccounts` works, what each part of it does. Not married to a specific language. Sure the js library uses multiple functions to present different serialized formats, but that shouldn't matter in the grand scheme of things for an `ingredient`. It could just be a foot note, or an example.

[2021-12-04 02:19] bfriel commented on #41
Ahhh gotcha. I'll keep it non-specific when it comes to language then. Thanks!

[2021-12-04 10:24] silvestrevivo commented on #56
@Jacob-CG I can take this one if it is ok.

[2021-12-04 11:50] maxrobot opened #61 "[Request]: Add instructions to build site locally."
When contributing to the cookbook it is useful to be able to preview changes.

It would be good to have instructions in the `README` describing how to build the static site locally and the pre-requisites / requirements.

Simply forking and running `npm i && npm run start`:

[code]

[2021-12-05 05:01] #56 closed

[2021-12-05 19:17] silvestrevivo commented on #54
@Jacob-CG I can take this one too.

[2021-12-06 15:57] #54 closed

[2021-12-07 02:46] Jacob-CG commented on #61
@maxrobot It looks like you were able to build it locally. The instructions are the ones you followed. Let me know if you run into any more issues.

[2021-12-07 02:46] #61 closed

[2021-12-07 16:23] Jacob-CG commented on #41
@bfriel Awesome work!

[2021-12-07 16:23] #41 closed

[2021-12-07 19:47] timhanlon opened #66 "[Styles] Change background color of code inside tip container"
On the [Get Program Accounts](https://solanacookbook.com/ingredients/get-program-accounts.html#facts) ingredient:

<img width="713" alt="Screen Shot 2021-12-08 at 6 28 00 am" src="https://user-images.githubusercontent.com/4340187/145095949-2338b8f9-2caa-4771-bc21-59826ae632cd.png">

[2021-12-07 20:34] #66 closed

[2021-12-07 23:06] Jacob-CG opened #68 "[Snippet] Create PDA"
Add creating a PDA under the accounts section. Should be similar to signing with a pda, just instead using `create_account`

[2021-12-08 04:13] jacobcreech opened #72 "[SEO] Update Meta Descriptions"
SEO could be vastly improved on the cookbook by adding a better description meta tag, as well as more meta tags for sharing. While we wait for a logo, we can update the meta tags for the descriptions

[2021-12-08 12:48] silvestrevivo commented on #55
@Jacob-CG I get this one.

[2021-12-08 12:53] Jacob-CG commented on #55
@silvestrevivo awesome!

[2021-12-08 15:27] sunguru98 commented on #24
Hey sorry, I was a bit packed on the schedule so couldn't revert on this. I'm back and just wanna make sure if no one is working on it, if yes, may I know the topics that have been merged already @Jacob-CG ?

[2021-12-08 16:07] Jacob-CG commented on #24
@sunguru98 None has done as of today. Go ahead and run with it!

[2021-12-08 19:52] #55 closed

[2021-12-09 05:53] sunguru98 commented on #24
Thanks @Jacob-CG

[2021-12-09 14:54] neerajajaja commented on #68
hey can I get assigned to this?

[2021-12-09 14:57] #57 closed

[2021-12-09 14:57] Jacob-CG commented on #68
@neerajajaja Sure thing! let me know if you have any questions

[2021-12-09 14:58] #52 closed

[2021-12-09 20:05] neerajajaja commented on #68
hey just sent a PR, do let me know of any feedback

[2021-12-09 20:13] Jacob-CG commented on #68
@neerajajaja Added my feedback. Looks fantastic!

[2021-12-09 20:32] #68 closed

[2021-12-09 22:08] #24 closed

[2021-12-09 22:09] Jacob-CG commented on #46
@maxrobot On chain as well as client side on how to retrieve the info

[2021-12-10 05:18] j-h-a opened #77 "[Contributing] Needs well-defined build environment and build instructions."
The build environment is not made clear via a container description (Dockerfile), and there are no build instructions.

[2021-12-10 13:10] #77 closed

[2021-12-10 13:28] Jacob-CG opened #81 "[Snippet] CPI"
Related to https://github.com/solana-dev-adv/solana-cookbook/pull/80, We'd like a CPI code snippet that actually requires the use of a program, to showcase the two usecases and differences.

This would go under the **programs** recipe

[2021-12-11 19:31] sunguru98 commented on #46
Would love to take on this @Jacob-CG :)

[2021-12-11 19:43] sunguru98 commented on #46
I'm guessing we have to write a snippet over on chain (to get the data and like assign to a state), and also a seperate script for fetching the updated account data and reflect over the client side?

[2021-12-12 01:55] Jacob-CG commented on #46
@sunguru98 yes, that'll work

[2021-12-12 05:36] sunguru98 commented on #81
Taking this to include the system_instruction::create_account @Jacob-CG :)

[2021-12-13 15:49] #81 closed

[2021-12-13 21:42] jacobcreech opened #87 "[Reference] Anchor"
We need an Anchor recipe section to talk about anchor specific tricks

Current needs:
- Testing with Anchor
- Logging with Anchor
- Explanation of common error codes

[2021-12-14 13:40] FrankC01 commented on #26
With details of using `solana-test-validator` and `solana_program_test::ProgramTest` and how they differ?

[2021-12-14 13:41] FrankC01 commented on #9
Merged to repo!

[2021-12-14 16:44] Jacob-CG commented on #26
@FrankC01 Examples of both would be great

[2021-12-14 17:24] FrankC01 commented on #26
@Jacob-CG I'll see if I can manage the time to do this one and let you know ASAP

[2021-12-14 18:13] neerajajaja commented on #87
hey, if you could break this recipe down into smaller snippets i would love to contribute to some of them!

[2021-12-14 20:23] Jacob-CG commented on #87
@neerajajaja Asking for feedback in the Anchor discord to identify the commonly asked questions.

For now here's a few I can think of:
- Testing with Anchor
- Logging with Anchor
- Short explanation and use of `#[derive(Accounts)]`
- Short explanation and use of `#[program]`

[2021-12-14 21:44] FrankC01 opened #90 "[Ingredients] Serialization update: Show Rust <-> TS/JS mappings"
**Addition**

It would be nice to have a table that shows how to serialize various Solana types (e.g. PublicKey) from the Typescirpt/Javascript side and the deserialization on the Program side.

[2021-12-15 11:34] silvestrevivo commented on #27
@Jacob-CG how is the status of this currently? I got this link https://superteam.fun/500-bounties/solana-cookbook-logo-design-bounty but I didn't find any reference in the Discord server to this.

[2021-12-15 14:34] Jacob-CG commented on #27
@silvestrevivo They completed the bounty. We will probably have a logo pretty soon. Will go ahead and close this

[2021-12-15 14:34] #27 closed

[2021-12-15 21:18] cogoo commented on #50
🙏🏾  Please add Svelte to the list @Jacob-CG

[2021-12-15 21:19] Jacob-CG commented on #50
@cogoo Added!

[2021-12-16 01:54] yihau commented on #47
I think this topic has already existed in https://solanacookbook.com/recipes/staking.html#get-current-validators

[2021-12-16 20:35] bfriel commented on #87
I think a list of common error codes and their explanations would also be useful

[2021-12-16 23:11] #10 closed

[2021-12-17 20:53] ADBalici commented on #23
I can take this one (to start with) if nobody minds:

- How to get NFT owner given a mint

Qs:
- Sometime the current owner is a PDA. These are cases, for example, in which the previous owner listed the token on a marketplace. Do we want guidelines of how we can trace the ownership back to the previous non-PDA owner?

[2021-12-17 20:56] Jacob-CG commented on #23
@ADBalici
Guidelines for both would be fantastic!

[2021-12-17 21:45] ADBalici commented on #23
How about this?

https://github.com/solana-dev-adv/solana-cookbook/pull/106

[2021-12-17 22:00] Jacob-CG commented on #23
@ADBalici Awesome job. Great little tricks like these are what usually trip people up developing. Thanks for the contribution!

[2021-12-17 22:08] ADBalici commented on #23
Thanks! Will come back with other some other PRs in the upcoming days.

[2021-12-18 01:56] #90 closed

[2021-12-18 02:20] jacobcreech opened #108 "[Guide] Retrying Transactions"
Would be great to have a writeup going over the various methods on retrying transactions.

Some context:

Currently there's a lot of confusion about retrying transactions, and what happens to transactions when they seem to "disappear". The current mechanics that happen are as follows:
- Transaction is sent to the RPC via [`sendTransaction`](https://docs.solana.com/developing/clients/jsonrpc-api#se

[2021-12-20 16:42] Jacob-CG opened #113 "[Recipe] Solana RPC Anti-Patterns"
Having a recipe listing out the anti patterns and recommended approaches would be great.

[2021-12-22 13:27] rasreee commented on #50
hi! may i call dibs on this issue?

[2021-12-22 13:28] Jacob-CG commented on #50
@rasreee yes you may! Assigning now

[2021-12-22 15:40] rasreee commented on #50
hi! here's my initial PR - https://github.com/solana-dev-adv/solana-cookbook/pull/116

let me know of any issues for me to address~ :-)

[2021-12-22 16:07] Jacob-CG commented on #50
@rasreee Pulled in! Thanks for the contribution

[2021-12-22 22:34] FrankC01 opened #117 "[Guide] Serialization - Add some pretty pictures (flows, maps, etc.) also call out pitfalls"
@jacobcreech  I also have some more 'ad-hoc' scenarios for Arrays<PublicKey> and Map<PublicKey, Map<PublicKey, number) to add.

You can assign me if you want!

[2021-12-22 22:36] FrankC01 opened #118 "[Tips and Tricks] - Program Data Migration"
@jacobcreech

Unless the data layout of program accounts will never change, there are tips, tricks and various approaches to deal with this.

You can assign me if you want

[2021-12-24 16:09] tarunyadav1 commented on #50
hey @jacobcreech
Is @rasreee also working on the Svelte integration part? I want to take it, if no one is working in this?

[2021-12-24 16:25] jacobcreech commented on #50
@tarunyadav1 don't think anyone is working on it at this time. You're welcome to go after it!

[2021-12-24 22:03] heyAyushh commented on #72
hey @jacobcreech , how can i start contributing to this?

[2021-12-24 22:54] jacobcreech commented on #72
Hey @heyAyushh. We basically need custom meta descriptions for each page that help with SEO. Also, all using the same Twitter card would be fine as well. You can look at how to do this by searching head tags for vuepress v2

[2021-12-26 23:44] heyAyushh commented on #72
I’ve started my initial work and i am adding descriptions ( 60-150 words ) to each and every page

[2021-12-28 01:00] jacobcreech opened #127 "[Lang] Rust impl"
Issue for all the rust client implementations. Comment what you're doing beforehand to avoid duplicate work

[2021-12-28 17:21] patriciobcs commented on #87
I'm working in:
- Anchor program architecture
  - Short explanation and use of #[program]
  - Short explanation and use of #[derive(Accounts)]
  - Short explanation and use of #[account]
- Calculating Account Space Size using impl space function and the respective sizes for each data type

[2021-12-28 17:24] jacobcreech commented on #87
@patriciobcs That's awesome! Looking forward to the PR

[2021-12-28 22:17] jacobcreech opened #130 "[Snippet] Finding bytes of an account based on layout"
**Section**: Accounts

We need a snippet to find the size of an account based on the layout. We can use the layout's `.span` js/ts method from `bufferLayout` to get the size. Needs to be added

[2021-12-29 07:43] abishekk92 opened #133 "[Lang] Python Snippets"
It would be useful to have RPC client-side snippets in python

[2021-12-29 07:46] abishekk92 commented on #127
I can take this up. I'm thinking break up each recipe into a separate PR, open to hearing what you guys think

[2021-12-29 07:46] abishekk92 commented on #127
Will comment here, as I pick up a recipe

[2021-12-29 07:48] abishekk92 opened #134 "[Lang] Go snippets"
It would be useful to have RPC client-side snippets in golang. Here is the go library https://github.com/portto/solana-go-sdk

[2021-12-29 07:50] abishekk92 commented on #47
Looks the PR got merged and the issue wasn't closed. Can we close this issue?

[2021-12-29 07:51] abishekk92 commented on #23
Looks like all the individual subtasks have been addressed and merged. Can we close this issue so that potential contributors don't get confused?

[2021-12-29 08:15] saurabhghatnekar commented on #133
Hey, @abishekk92 I'd like to contribute. Can you please elaborate on this issue/ what needs to be done?

[2021-12-29 10:54] abishekk92 commented on #133
Yes, that's precisely the idea. IMO, existing recipes would be a good place to start. Perhaps, @jacobcreech can chime if this is in line with he has in mind for rust. See #127

[2021-12-29 12:10] #47 closed

[2021-12-29 12:11] jacobcreech commented on #23
@abishekk92 still have `How to get Mint Addresses generated given a Candy Machine address` I believe.

[2021-12-29 12:15] jacobcreech commented on #133
@abishekk92 That is precisely what the issue is for, creating snippets I'm each language

@saurabhghatnekar You are correct. If you'd like to start, just name which part you're going after here so people wanting to do more don't duplicate your work

[2021-12-29 12:26] saurabhghatnekar commented on #133
Cool. I'll take up the NFT recipe. Will add  a folder 'python' in 'nfts' folder

[2021-12-29 12:48] jacobcreech commented on #133
@saurabhghatnekar in the code snippet's folder you can add your `.py` files alongside the others

[2021-12-29 13:03] saurabhghatnekar commented on #133
Alright

[2021-12-29 13:27] abishekk92 commented on #23
Oh, I didn't notice that. Anyway, I can pick that up

[2021-12-29 15:13] jacobcreech commented on #134
The most up to date and maintained go library is actually https://github.com/gagliardetto/solana-go

[2021-12-29 18:43] #72 closed

[2021-12-29 21:10] kin-ship opened #138 "KIN SPL Token SDKs - Monetize Your Project (iOS, Android, Node, Go, Python, Web, React Native, etc)"
Hey Solana family,

In the spirit of collaboration and supporting the wider ecosystem - I wanted to share this information to devs about Kin.

Devs can monetize their mobile, web apps by joining the Kin Ecosystem - a token economy on the Solana blockchain. Weekly payouts to devs who join the ecosystem based on a number of criteria. Already used in over a dozen independent projects.

Visit the deve

[2021-12-29 21:11] #138 closed

[2021-12-30 02:50] abishekk92 commented on #134
Oh great! Thanks for updating.

[2021-12-30 13:03] hetdagli234 commented on #127
Are you picking up every recipe? if there are any low hanging fruits then let me know.

[2021-12-30 13:41] abishekk92 commented on #127
So far, I've submitted PRs for two to get the ball rolling. For lower hanging fruits I would recommend transaction section.

[2021-12-30 13:47] hetdagli234 commented on #127
Thanks, @abishekk92 then I will pick up basic-transactions recipes.

[2022-01-01 02:46] ashish4x commented on #23
HI @jacobcreech , Can I complete this recipe task on `How to get Mint Addresses generated given a Candy Machine address` ?

[2022-01-01 02:47] jacobcreech commented on #23
@ashish4x yes, please do!

[2022-01-01 07:00] ashish4x commented on #23
I've been trying to setup this locally, but It's not working. I'm getting a blank page every time. Could you please look into that?

[2022-01-01 12:54] jacobcreech commented on #23
@ashish4x It seems one of the dependabot upgrades broke it. I reverted and it seems to work fine now. Let me know if it doesn't work.

[2022-01-01 14:09] adityabharadwaj198 commented on #87
I'd like to pick up the Testing with Anchor part. I can also pick up Logging with Anchor if someone can help me understand what exactly is required.

[2022-01-01 14:14] jacobcreech commented on #87
@adityabharadwaj198 Just additional sections on the current anchor page for each testing and logging. For example, showing example code that would log something in an anchor program, and the subsequent log

[2022-01-01 14:37] adityabharadwaj198 commented on #87
Right, I'll take these up

[2022-01-01 17:29] ashish4x commented on #23
Hi @jacobcreech, I made a PR for the NFT mint addresses recipe. Let me know if I missed anything

[2022-01-02 02:52] jacobcreech commented on #23
@ashish4x Added a review. The `contributors` sections may get removed soon, as it seems to be pretty bugged at this time in vuepress. May change to a different standard of credit soon.

[2022-01-02 12:05] #23 closed

[2022-01-02 12:43] devyeshtandon commented on #29
Hey @jacobcreech, I would like to take this up. Do we need a seperate section in Recipie, right?

[2022-01-02 12:45] jacobcreech commented on #29
@devyeshtandon yes, it would be a separate section. It should use whatever js/ts bindings the governance program has today

[2022-01-03 04:01] SuperGops7 commented on #134
@abishekk92 @jacobcreech I would like to take this up
If I'm not wrong, the task to be done is similar to the one explained in #133 , just in Golang, right?

Can you also let me know which recipe I should be starting this activity off with?

[2022-01-03 04:08] jacobcreech commented on #134
@SuperGops7 excellent! Just in GoLang, using the library I mentioned earlier. You could do these with the keypairs and wallets or basic transactions recipes. Those are a great place to start

[2022-01-03 09:15] SuperGops7 opened #150 "[fix] Broken Link"
Found a broken link from the Recipe guiding on how to set up a local validator to Install CLI.

[2022-01-03 14:58] cogoo commented on #127
Picking up creating an account and calculating rent exemption

[2022-01-03 17:11] jacobcreech commented on #45
Closed with #147

[2022-01-03 17:11] #45 closed

[2022-01-04 01:24] #150 closed

[2022-01-04 09:13] drprk commented on #29
Hi @jacobcreech does the code snippets need to be necessarily in both js/ts bindings? or will JS do as well?

[2022-01-04 13:33] anoushk1234 commented on #130
Can you explain what exactly the issue is, I didn't quite understand

[2022-01-04 22:31] jacobcreech commented on #130
@anoushk1234 Sure

So accounts are often denoted by structs in Rust, right? To create accounts, however, you need to know the size to allocate to that account given the variables within the account.

Let's take these instructions here https://github.com/solana-labs/solana/blob/master/web3.js/src/system-program.ts#L537

What you can do with this to find out the size of the account is `SYSTEM_INSTRU

[2022-01-05 05:56] almndbtr opened #162 "Ingredients (Serialization): typo in copy"
## Summary

Spotted a typo in https://solanacookbook.com/ingredients/serialization.html#client-account-data-deserialization:

“occrs” should be corrected to “occurs.”

[2022-01-05 05:56] almndbtr commented on #162
#161 should close this.

[2022-01-05 06:45] zkwarlock opened #163 "RFC: tutorial on EVM patterns in Solana"
I'm looking to write a guide on:
1. Maps
  - How to emulate with PDAs

2. Factory smart contracts:
  - As smart contracts cannot be deployed in Solana using CPI, the result is a monolithic design.
  -  PDAs in place of `keccak256(abi.encodePacked())`

3. Arrays
  - Size and compute limit on storing arrays in a single account
  - Emulate arrays with PDAs
  - Iterating on PDA arrays using remaining

[2022-01-05 07:19] ProPratik1405 opened #164 "NFT Burn Code"
Hey guys i want to contribute this code.

[2022-01-05 07:21] ProPratik1405 commented on #164
Can anyone please assign me this work

[2022-01-05 14:58] #162 closed

[2022-01-05 14:59] jacobcreech commented on #164
@ProPratik1405 I believe this is already covered under burning tokens in general. The path is the same. You can update with another language if needed.

Closing this for now

[2022-01-05 14:59] #164 closed

[2022-01-05 17:40] jacobcreech commented on #163
Hey @zkwarlock

Looks like a good guide, but not sure if everything belongs in the cookbook

You could write an ingredient completely on the different ways to do account maps. I'll make an issue for that off of here

For 2, could you expand? Sounds interesting

For 3, Arrays could be a decent ingredient as well. I am not sure if you could put both in a maps and arrays ingredient, but would be grea

[2022-01-06 03:06] jacobcreech opened #166 "[Core Concept] CPI"
We need a section explaining CPI on Solana and the current limits

For example:
- Currently limited to a depth of 4
- How is CPI done?
- How is it done within the validator?
- Invoke vs invoke_signed

[2022-01-06 03:08] jacobcreech opened #167 "[Guide] Account Maps"
Maps are often a problem people have when coming to Solana

We need to explain the multiple ways of creating account maps, as well as give examples of each.

For example:
- Explain how to use multiple accounts to create an account map
- Show how to use deriving PDAs to create a map

[2022-01-06 03:08] jacobcreech commented on #163
Created both #167 and #166 Off of this

[2022-01-06 11:24] anoushk1234 commented on #87
@jacobcreech can i take up common anchor error codes?

[2022-01-06 11:50] jacobcreech commented on #87
@anoushk1234 go ahead!

[2022-01-06 12:56] 0xdeepmehta commented on #26
@jacobcreech Can I take this up, if no one is working on it?

Planning to work on:
- Debugging transaction failure
- Creating custom program error codes
- Logging in a Program

[2022-01-06 13:03] jacobcreech commented on #26
@0xdeepmehta sure! I'll add you

[2022-01-06 13:05] 0xdeepmehta commented on #26
awesome thanks :)

[2022-01-06 13:23] 0xdeepmehta commented on #26
@jacobcreech Just have one small question, should I add a new section `Debugging ` in the `Anchor` Recipe itself?

[2022-01-06 13:26] jacobcreech commented on #26
@0xdeepmehta No, this would be an entire new page under ingredients with the similar ingredient format

It should also contain both anchor and native information. Ideally the text should be generic enough and the code switchable like the other sections

[2022-01-06 13:55] FrankC01 opened #168 "[Guide] - Serialization ... add Client Python"
Easy enough to add.

[2022-01-06 14:09] 0xdeepmehta commented on #26
@jacobcreech what is meant by **native information**?

[2022-01-06 14:10] jacobcreech commented on #26
@0xdeepmehta both native programs and anchor should be covered

[2022-01-06 17:59] jacobcreech opened #170 "[Ingredient] Managing Compute Budget"
A lot of people run into issues managing how much compute they're using.

A great thing to have is a guide on how to go through program development with a compute budget in mind.

Things to have:
- Walkthrough on how compute budget is calculated
- Table of Compute Costs
- Example Program and how to measure costs
- Using msg to print the current compute cost as you go

[2022-01-07 12:11] anoushk1234 opened #172 "Staking contract using anchor"
I was going thru the staking section of the cookbook and all the code is client side interaction with the staking program but there isn't any documentation for writing a staking program in anchor
Can I take this up? @jacobcreech

[2022-01-07 17:15] Kriptikz opened #174 "[Fix] Missing creation and sending of transfer transaction in Send Sol rust impl"
The Recipes - Basic Transactions - Sending SOL - Rust impl - currently creates the transfer instruction but doesn't put the instruction in a transaction and actually send it.

[2022-01-07 17:32] Kriptikz commented on #174
Working on this.

[2022-01-07 21:57] jacobcreech opened #176 "[Code] Update Code Preview"
People are having trouble with code previews and getting confused on full source vs the preview

Let's add some default information displayed in a different color such as `Press </> button to view full source` at the top of every source

[2022-01-07 22:27] #174 closed

[2022-01-09 00:15] charles-e opened #178 "Signing using both wallet and key-pairs"
For web-app development you primarily sign using the wallet(adapter) since that's where the real "money" comes from but some transactions need other signers (key-pairs). For example to create an account requires the signature of the owner (which will normally be the wallet) but also the actual identity key-pair for the account.

[2022-01-09 00:26] charles-e commented on #178
So you have strung together several instructions in a single transaction `txn` and array of other keypairs `signers`.
[code]

[2022-01-09 03:27] emersonthis opened #180 "Get NFT Mind Addresses recipe does not work with cany machine v2"
I believe that the code snippet shown here only works with the deprecated version of candy machine (v1).
https://solanacookbook.com/references/nfts.html#get-nft-mint-addresses

[2022-01-09 03:42] jacobcreech commented on #178
Hey @charles-e, we appreciate the contribution

However, I think this is already covered. Basic Transactions has multiple wallet-adapter references for sending transactions using the wallet-adapter's sendTransaction method. Ideally we'd have wallet-adapter be used everywhere, but we're still working on that.

You could totally do something like this in the offline transactions reference section th

[2022-01-09 03:42] jacobcreech commented on #180
@emersonthis Nice catch! This is an open issue if anyone has an update for v2 then

[2022-01-09 04:24] stephenwilliams1990 opened #181 "Get the owner of an NFT will just get the Token program account, not the actual owner of the NFT"
The docs outlined at the following link will simply return the Token Program, instead of the users wallet that actually holds a certain NFT, as presumably would be desired. (Link: https://solanacookbook.com/references/nfts.html#get-the-owner-of-an-nft).

The owner as defined in the Solana docs is generally a "base-58 encoded Pubkey of the program this account has been assigned to", which in this c

[2022-01-09 04:44] #181 closed

[2022-01-09 04:44] jacobcreech commented on #181
Thanks for the catch! Fixed in #182

[2022-01-10 11:58] abishekk92 opened #185 "[Guide] Testing your Solana Program"

[2022-01-10 17:24] jacobcreech commented on #185
I believe this is hopefully to be covered in #26

[2022-01-11 15:33] abishekk92 commented on #185
I see, let me close this issue then.

[2022-01-11 21:18] FrankC01 opened #188 "[Reference] Program - Add debit/credit lamports"
Cover the combos:
1. System Account -> System Account - requires `invoke_signed`
2. Program Account -> System Account (this applies to PDA as well) - inline to program
3. Program Account -> Program Account (this applies to PDA as well) - inline to program

[2022-01-12 05:46] sayantank commented on #167
@jacobcreech Can I take this up? I'm a little unsure about what you mean in the first point though

[2022-01-12 06:29] Agunderman10 opened #189 "[Code] Add Common Exploits/Security Section"
Might be useful to:
A) have a new page/section for common exploits in programs and code snippets for how they’re fixed
B) have a new page/section for program security as a whole which would include common exploits and code snippets for fixing them
C) have common exploits displayed when using them

An example of a common exploit might be forgetting to validate account ownership, etc.

Side note: on

[2022-01-12 10:35] #118 closed

[2022-01-13 02:32] #168 closed

[2022-01-13 03:01] jacobcreech commented on #163
Closing to move to the new issues

[2022-01-13 03:01] #163 closed

[2022-01-13 03:01] #178 closed

[2022-01-13 03:10] jacobcreech commented on #189
Sounds good. I really like how Armani laid out the sealevel attacks of `insecure` and `secure` programs. You could do each to highlight the differences and explain the attack vector.

[2022-01-13 04:13] sayantank commented on #167
On it! Thanks for the explanation!

[2022-01-13 15:44] jacobcreech opened #197 "[Snippet] Read multiple instructions from a transaction"
Would be great to add an example of reading multiple instructions from a transaction when in a program.

Example: https://github.com/metaplex-foundation/metaplex-program-library/blob/c340ba27560ee101f0f688ee47baa80be006f380/nft-candy-machine/program/src/lib.rs#L385-L409

This would be a new reference under the `Program` reference section

[2022-01-13 16:25] Agunderman10 commented on #189
@jacobcreech Okay, you can create the project to do card and assign it to me. I'll start working on this. Add any additional notes that you might have if you want me to do anything a certain way, otherwise, I'll build it with what I believe is best from my pov.

[2022-01-14 16:29] FrankC01 commented on #170
Just a nit:

Bullet 4 ... `msg!()` is nothing more than log spitting. There is no way to get the compute units to include in the message. At the moment, the only choice is to use `sol_log_compute_units();` which spits out used CU up to the point you call it (it also costs 100 CU to call it) but it does not return the value to your program. Would be nice if it did!

[2022-01-14 16:31] FrankC01 commented on #167
Has anyone benchmarked 'verifying' the merkle proof as far as CU go? Just curious...

[2022-01-14 16:59] ehteshaxm commented on #176
Can I work on this?

[2022-01-14 17:04] jacobcreech commented on #176
@ehteshaxm Go right ahead!

[2022-01-16 09:27] losman0s opened #206 "[Reference] Using mainnet accounts/programs in local development"
[This solana CLI PR](https://github.com/solana-labs/solana/pull/21812) recently made it easier to dump accounts from a cluster (e.g. mainnet) to file, for use in a local test-validator for instance.

A reference on how to do so could be helpful, and [this PR](https://github.com/solana-dev-adv/solana-cookbook/pull/205) adds it.

[2022-01-16 16:23] adityabharadwaj198 commented on #87
I realize it's a bit late, I was caught up with an illness & work but finally was able to find time to do this

[2022-01-16 19:35] jacobcreech commented on #87
@adityabharadwaj198 awesome, thanks!

[2022-01-16 19:35] #87 closed

[2022-01-16 19:38] #206 closed

[2022-01-16 21:55] moflo opened #208 "[Reference] add reference to Metaplex in NFT reference"
Hi - it would be help to noobs like myself if there were a reference to the Metaplex in the NFT reference, perhaps a reference to the  protocol or a high-level discussing the relationship with Metaplex with disambiguation around the term `NFT` itself

- Provide a reference to Metaplex within the `references/nfts.md` doc
- Discuss the relationship between Solana and Metaplex in the context of NFTs,

[2022-01-18 04:36] ronanyeah opened #211 "ED25519 signature verification"
I am trying to figure out if signature verification is possible onchain. If it is I will create an example for the cookbook.

I have tried to implement it with various ed25519 rust crates but keep running out of CPU:
![Screenshot from 2022-01-17 22-31-46](https://user-images.githubusercontent.com/9598261/149871495-db352181-dbe4-4418-8195-4f71dc844c9a.png)

I think this file is relevant, but relate

[2022-01-18 04:37] ronanyeah commented on #211
I'm hoping to achieve something like this:
[code]

[2022-01-18 04:42] jacobcreech commented on #211
@ronanyeah you should be able to achieve this with the ed25519 program https://docs.solana.com/developing/runtime-facilities/programs#ed25519-program

[2022-01-18 04:47] ronanyeah commented on #211
Thanks! I'm currently porting [this file](https://github.com/solana-labs/solana/blob/master/sdk/src/ed25519_instruction.rs#L344) from `Transaction::new_signed_with_payer` to use CPI, `invoke(...)` etc.

[2022-01-18 08:04] cuongn265 opened #212 "[Request] Explain token metadata structure"
Hi guys, thank you so much all of you for create such a very helpful guide on Solana

I would like to request a guide for structure of NFT Token Metadata, as this guide mention https://solanacookbook.com/references/nfts.html#candy-machine-v2

[code]

Can some body help to explain where other data located like this one:
![image](https://user-images.githubusercontent.com/14053819/149895630-a5b9e87a-

[2022-01-18 09:58] ronanyeah commented on #211
Apparently this program doesn't work for CPI for GPU reasons: `Program failed to complete: Program Ed25519SigVerify111111111111111111111111111 not supported by inner instructions`

Apparently the correct approach is to verify the signature in a separate instruction, then walk through the instructions in your program code using `Sysvar1nstructions1111111111111111111111111` to confirm the signature

[2022-01-18 16:01] jacobcreech opened #214 "[Core Concept] PDAs"
We still need a PDA core concept. Ideally going over the following:

1. Generating a PDA
2. PDA limits
3. What a PDA can do

and more related to PDAs

[2022-01-18 16:08] bfriel commented on #214
Sign me up!

[2022-01-18 22:54] jacobcreech opened #218 "[Guide] Cranks and how to use them!"
Cranks are super useful on Solana programs and we should have a bite-sized guide on how to use them.

Some more information on cranks: https://twitter.com/0xPemulis/status/1483115445389508610

[2022-01-19 16:22] jacobcreech opened #220 "[Reference] Add user public key valid check"
Common question in discord is how to figure out if a public key is valid for a specific user (meaning a system account owned account used to interact with other dapps)

Should be both using:
1. `new PublicKey("<address>")`
2. `key.isOnCurve("<address>")`

Let's add this to keypairs and wallets reference section

[2022-01-19 16:23] jacobcreech opened #221 "[Reference] How do I request more compute for my transaction?"
This is going to be a common question coming up soon with the compute program coming online

Let's get an example added to the basic transactions section

[2022-01-20 21:17] morektz opened #222 "[Core Concepts] Want to add Solana Overview Mindmap Diagram - Requesting Advice"
I have made a mindmap which is basically an overall summary of Solana. You can find that [HERE](https://raw.githubusercontent.com/morektz/SolanaLearningMindMaps/main/pix/SolanaProgramsOverview.png) and the repository with the code can be found [HERE](https://github.com/morektz/SolanaLearningMindMaps)

Initially I had made this diagram and posted in the following discords - [Solana Official](https:

[2022-01-20 22:03] jacobcreech commented on #222
@morektz I think this is a great diagram!

Really cool how you can create mind maps with this to better explain the core native programs of Solana

However, I am not sure if this belongs on the current cookbook. I'd recommend writing an article about it and submitting to soldev.app and go from there.

While the programs are useful to know, cookbook is trying to avoid separating the programs too mu

[2022-01-21 08:53] joeyouss commented on #218
If non one is working on this, can I pick it up?

[2022-01-21 09:24] morektz commented on #222
@jacobcreech Thanks for taking the time to read this issue so quickly.

It definitely makes sense not to confuse the n00bz (like myself). I do use soldev.app constantly, since its an excellent resource for learning , will look into it. Peace !

[2022-01-21 13:00] #222 closed

[2022-01-22 20:26] harsh4786 commented on #43
what type of account are we talking about in the first point?

[2022-01-23 01:14] jacobcreech commented on #218
@joeyouss No one is currently working on this. Feel free!

[2022-01-23 01:14] jacobcreech commented on #43
@harsh4786 iirc, there's a number of accounts you need to create with Serum before you start placing orders. Would be nice to have that walkthrough

[2022-01-23 08:37] harsh4786 commented on #43
okayy

[2022-01-23 08:39] harsh4786 commented on #43
and how do i achieve the last point? I can probably try the upper two

[2022-01-24 03:29] dtlehrer opened #223 "Proofreading"
Grammatical/spelling revisions

[2022-01-24 03:30] dtlehrer commented on #223
Addressing this right now

[2022-01-24 21:27] #223 closed

[2022-01-27 16:54] jacobcreech opened #229 "[Reference] How to create RPC batch requests"

[2022-01-27 16:54] #108 closed

[2022-01-28 09:08] UjjwalGupta49 opened #230 "[sacffold] solana-base-app"
Hey, I'm contributing solana-base-app to the Cookbook, It's a base-level application that helps beginners get up and running fast, avoiding all complexities.
It includes most of the basic features such as
1) Wallet connection (Using wallet-adapter)
2) Getting wallet balance (Using Web3.js)
3) Airdropiing SOL into the wallet
----------------------------------------------
An npx package also live, t

[2022-01-28 09:09] UjjwalGupta49 commented on #230
@jacobcreech kindly help, me cointribute

[2022-01-28 16:21] jacobcreech commented on #230
@UjjwalGupta49 I love the work, but I don't believe this belongs in the Solanacookbook.

I would suggest you submit to soldev.app instead under scaffolds!

[2022-01-28 16:21] #230 closed

[2022-01-29 03:23] UjjwalGupta49 commented on #230
Already done Sir,
Thank you

[2022-02-02 02:08] jacobcreech opened #233 "[Reference] How do you check what are NFTs vs Tokens?"
We need a snippet to demonstrate getting all NFTs in a wallet. It need to use `Metadata.findDataByOwner` from `@metaplex-foundation/mpl-token-metadata` in order to determine if the token is an NFT vs a normal spl-oken

[2022-02-02 21:18] #117 closed

[2022-02-03 21:02] FrankC01 commented on #26
Rather than sit on this, I'd be happy to at least getting the unit testing/debugging pieces done.

Like all references and guides I assume they can be incrementally extended for things like Anchor nuances, etc.?

Say the world and I'll re-assign myself

[2022-02-03 21:09] jacobcreech commented on #26
@FrankC01 Sounds good, go ahead!

[2022-02-04 13:47] FrankC01 opened #235 "[Guide] Feature Parity Testing"
When testing locally, developers may witness different behavior then when testing on, say, devnet.

This may be because some features may or may not be activated in devnet however; all features are automagically activated when testing locally.

Configurability for this was added in Solana 1.9.6.

This guide helps the developer test in 'parity' with other clusters to test with predictable outcomes

[2022-02-06 05:15] #221 closed

[2022-02-06 09:18] #26 closed

[2022-02-07 19:41] josephtaylor opened #237 "Link in the Retrying Transactions article seems outdated"
The first link in the [Customizing Rebroadcast Logic section](https://solanacookbook.com/guides/retrying-transactions.html#customizing-rebroadcast-logic) seems to be outdated.

"within reasonable bounds" links to: https://github.com/solana-labs/solana/blob/master/validator/src/main.rs#L1316-L1332

Would be happy to submit a PR to update it but I'm not sure which lines it's supposed to point to, ma

[2022-02-09 22:47] jacobcreech commented on #237
@josephtaylor It seems like the code has been updating, breaking the link. Probably best to link to a specific commit time instead of master. You're welcome to update it!

[2022-02-10 17:26] CSDUMMI opened #238 "Chapter on Anchor is confusing"
The chapter on Anchor is very confusingly phrased.

Specifically:

[Anchor Chapter](https://solanacookbook.com/references/anchor.html#accounts-deserializers)

[2022-02-10 17:28] jacobcreech commented on #238
@CSDUMMI Hmm, makes sense. Will see what we can do on updating this

[2022-02-10 20:49] mcintyre94 opened #239 "[Reference] Section on Solana Pay"
Discussed on Solana Discord: https://discord.com/channels/428295358100013066/938828592232693820/941431884913729557

It'd be nice to have a Solana Pay section of the cookbook to cover some of the common use cases. It'd also be nice to cover transferring NFTs/tokens after a validated payment as a workaround until this is added to the Solana Pay protocol itself.

Related issue in the solana-pay repo:

[2022-02-12 14:27] #235 closed

[2022-02-13 08:52] FrankC01 opened #241 "[Guide] Extend Feature Parity - Deactivate Features Programmatically"
With Solana 1.9.6 deactivating Features has been enabled on TestValidatorGenesis

This cookbook issue extends the current documentation to demonstrate using this new capability for those who programmatically startup test validator

[2022-02-14 15:25] #241 closed

[2022-02-15 19:55] #237 closed

[2022-02-16 21:05] #233 closed

[2022-02-17 15:40] #214 closed

[2022-02-19 01:30] jacobcreech opened #248 "How to get Stake for a user?"
Would be great to have a reference on how to get stake amount for a specific wallet

Rust code can be found [here](https://github.com/solana-labs/stake-o-matic/blob/b46765d49d370c6d8c0fc96371f7ae5bac4fa44f/bot/src/rpc_client_utils.rs#L299)

[2022-02-19 22:13] rasreee opened #249 "Add back names of contributors under the section(s) they contributed to"
Crediting the contributors by listing them like how it was before makes them feel proud & acknowledged for their contributions!

I noticed my name was taken off of the content I contributed (https://solanacookbook.com/references/keypairs-and-wallets.html#connecting-to-a-wallet) and it made me sad :(

![image](https://user-images.githubusercontent.com/21317871/154820793-00bca7d3-48a2-452a-944c-c39d

[2022-02-19 22:16] jacobcreech commented on #249
@rasreee While I agree with your sentiment, there seems to be a bug in Vuepress with these contributors. I've been meaning to disable it until the big is fixed. You're welcome to look into the fix if you'd like

[2022-02-19 22:19] rasreee commented on #249
Ahhh, thanks for the clarification!

[2022-02-19 22:20] #249 closed

[2022-02-23 20:18] eden-chan opened #253 "Plans on adding Translations?"

[2022-02-24 12:24] FrankC01 commented on #253
Do you mean for Programs or Clients?

[2022-02-24 14:41] pcibraro opened #254 "Pull all the NFTs for a public address in a generic way"
For applications that require pulling user's nfts in a generic manner for performing different things (e.g. authorization), it would be useful to have a recipe that does not depend on candy machine and just returns your tokens and the associated metadata.  I was able to come up with a script for doing that, and I would like to contribute it here.

[2022-02-24 14:47] jacobcreech commented on #254
@pcibraro Do it! I'd love to see this contribution.

[2022-02-24 14:48] jacobcreech commented on #253
@eden-chan Vuepress does allow an easy addition of translations. I'm working on changing all of the titles right now for SEO purposes. Once done, I'll likely go after getting translations done for some of the most popular visitors

[2022-02-24 17:22] FrankC01 commented on #253
Ahh, for the cookbook... got it. Not something specific to Solana dev... cool beans

[2022-02-25 15:08] Dewnish commented on #254
Very interested in this!

[2022-02-25 15:15] Dewnish opened #255 "Error: 410 Gone: "The RPC call or parameters have been disabled.""
I have been trying to execute the script in _mint-addresses-preview-v2.en.ts_. Unfortunately I always get this error no matter which candy machine v2 id I use.

[code]

[2022-02-25 15:36] jacobcreech commented on #255
The response is exactly what you expect. It's likely that you are hitting the public RPCs, which disable calls for NFT stuff due to wide abuse. Recommend getting a private RPC or going after the metaplex RPCs

[2022-02-25 15:36] #255 closed

[2022-02-25 19:02] pcibraro commented on #254
Awesome. I just sent a pull request. Feel free to review and let me know your feedback/comments. https://github.com/solana-dev-adv/solana-cookbook/pull/256

[2022-02-25 19:38] jacobcreech commented on #254
Closing in reference to https://github.com/solana-dev-adv/solana-cookbook/pull/256#issuecomment-1051137992

[2022-02-25 19:38] #254 closed

[2022-02-28 14:41] FrankC01 opened #258 "[Guide] - Deploying Programs"
Individuals often foul their deployments by using dynamically generated IDs every time they `cargo build-bpf`.

While this is fine for local `solana-test-validator` once you go to another cluster, upgrading the account may be difficult. Especially if they aren't creating a static keypair.

A clear and concise guide on program and program ID best practices would help or at least take away any myste

[2022-02-28 15:24] #167 closed

[2022-03-02 16:44] jacobcreech commented on #176
@0xPratik Assigned! Go ahead and start :)

[2022-03-02 17:38] 0xPratik commented on #176
Hey @jacobcreech i have started working on this issue and i have a small question that i would like to get your suggestions on it. Thanks

In this Image the text is outside the code section and if we want it to look this way than have to make changes on all the code snippets. I looked for a DRY way to write it out but there isn't much code to understand the internal working of it.
<img width="859"

[2022-03-02 17:40] jacobcreech commented on #176
@0xPratik Love the second way, where the message is at the top of the component, not above it. Updating the vue component is the way to go

[2022-03-02 17:41] 0xPratik commented on #176
Got it @jacobcreech Creating the Pull request in a few minutes for it. Thanks for the quick response you are awsome.

[2022-03-07 19:53] stellaw1 commented on #50
Could I work on the code for Vue integration?

[2022-03-14 12:59] ohaddahan opened #275 "How to transfer NFT"

[2022-03-14 13:00] ohaddahan opened #277 "[Reference] How to transfer NFT"
https://github.com/solana-dev-adv/solana-cookbook/pull/276

[2022-03-14 13:05] ohaddahan opened #278 "[Reference] How to update metadata"

[2022-03-14 20:35] jacobcreech opened #280 "Add linting to cookbook examples"
Keeping code example's format similar is imperative for the overall health of the cookbook and DX.

Add:

- TS Linting
- Python Linting
- Rust Linting

[2022-03-15 21:43] chhajershrenik commented on #189
Having an OWASP top 10 kind of security page is a nice little addition to the cookbook. But it would be helpful for the people in the security field eg bug bounty hunters/auditors. But the cookbook is meant for new developers, as building dapps can be done in different programming languages rust, python, c/c++, or frameworks such as anchor (don't know if other frameworks exist, if they do please l

[2022-03-15 22:05] jacobcreech commented on #189
@chhajershrenik This would be awesome to have for Solana. A guide is a great place for it. Let's see it built out!

[2022-03-15 22:28] chhajershrenik commented on #189
@jacobcreech quick question I just wanted to know whether this repo is completely community driven or managed by solana-labs because I want to make sure that the security documentation catches up with the current documentation. For example it does not make sense to include python examples right now as the cookbook is still developing in that aspect. I would create a project outline for the documen

[2022-03-16 15:04] jacobcreech commented on #189
@chhajershrenik Ideally I want this repo community driven long term, but I currently have no community maintainers. For now it is just me, who works at labs.
I do thing that security could be a big part of the cookbook, but it may also warrant an entire new set of pages like the new [integrations](https://solanacookbook.com/integrations/#composability-is-key) piece coming up.

There's some great i

[2022-03-16 15:08] 0xPratik commented on #46
Hey @jacobcreech I explored Pyth few days ago and would like to work on this Issue. This is the Repo that i created for as an example to learn pyth. [REPO](https://github.com/0xPratik/pyth-anchor-example)

[2022-03-16 15:11] jacobcreech commented on #239
@0xPratik Sounds good!

[2022-03-19 07:47] silvestrevivo commented on #50
@jacobcreech Since the Svelte wallet adapter is already live and community maintained by me and @cogoo , can I add it to the documentation?

https://github.com/svelte-on-solana/wallet-adapter/issues/22

[2022-03-23 18:08] tyirenkyi commented on #44
@jacobcreech , I'd like to take a crack at this

[2022-03-23 18:18] jacobcreech commented on #44
@tyirenkyi sounds good!

[2022-03-26 09:01] ZYJLiu commented on #166
![cpi_4](https://user-images.githubusercontent.com/75003086/160232455-c46f26d1-7720-4d6a-9c0e-ee831106eb58.png)
![cpi_1](https://user-images.githubusercontent.com/75003086/160232456-658bb254-9375-41e6-a921-03d9ce69fcf0.png)
![cpi_2](https://user-images.githubusercontent.com/75003086/160232457-0d3a83d8-0f2e-42a7-887a-99ef6c5c5022.png)
![cpi_3](https://user-images.githubusercontent.com/75003086/1602

[2022-03-26 09:02] ZYJLiu commented on #166
[cpi.md](https://github.com/solana-developers/solana-cookbook/files/8355040/cpi.md)

[2022-03-26 09:03] ZYJLiu commented on #166
![cpi_1](https://user-images.githubusercontent.com/75003086/160232541-7cef97fe-499c-46ff-860a-5887b622235f.png)
![cpi_2](https://user-images.githubusercontent.com/75003086/160232542-370e0d35-3e9b-4673-bee2-79b7294255b5.png)
![cpi_3](https://user-images.githubusercontent.com/75003086/160232543-96211b0d-3356-4603-a432-9d40d9e22151.png)
![cpi_4](https://user-images.githubusercontent.com/75003086/1602

[2022-03-26 09:47] #176 closed

[2022-03-26 09:48] jacobcreech commented on #166
Could you make a PR?

[2022-03-26 09:48] #275 closed

[2022-03-26 23:23] chhajershrenik opened #291 "Design template for security handbook in the cookbook."
@jacobcreech Could you please assign the issue to me. I'm currently working on a template as discussed previously.

[2022-03-27 12:00] mcintyre94 opened #293 "[Snippet] Send a token to the payer as part of a transaction"
This came up on the Solana discord: https://discord.com/channels/428295358100013066/517163444747894795/953743912437166150

The transaction should:

- Have Alice send Bob some SOL
- Have Bob send Alice an SPL token
- Be partially signed by Bob, so that only Alice needs to sign it after it's returned to her

There didn't seem to be any documentation for this that anyone could point to, so I think it

[2022-03-27 12:39] jacobcreech commented on #293
There is a version of it here https://solanacookbook.com/references/offline-transactions.html#sign-transaction

Maybe it isn't discoverable enough. The instructions are a bit unclear too given the common question. Happy to accept suggestions and additional examples

[2022-03-27 21:07] mcintyre94 opened #295 "[Reference] Simulating transactions"
The simulate transaction call seems to be really powerful but I'm struggling a lot with finding documentation for making use of it. I think this is probably big enough to be a reference, but might be wrong about that. Some snippets I think we could include:

- Getting the transaction fee
- Calculating the SOL that will be transferred
- Working out any SPL tokens that will be transferred

[2022-03-27 22:02] jacobcreech commented on #295
This may be good as a guide! Something also covering what happens under the hood for simulate, as well as how to use for debugging(getting logs).
Some snippets like suggested would also be good. Note that there is a new `getEstimatedFee` method on transaction though

[2022-03-31 03:56] #277 closed

[2022-04-05 04:02] byronmoore04 opened #308 "Get NFTs from a wallet method is deprecated"
Metaplex has deprecated multiple classes/methods in their @metaplex-foundation/mpl-token-metadata library. This has resulted in the "How to get all NFTs from a wallet" section of the Solana Cookbook being incorrect. The method findDataByOwner is deprecated.

`const nftsmetadata = await Metadata.findDataByOwner(connection, ownerPublickey);`

[2022-04-05 04:13] jacobcreech commented on #308
Looks like it got replaced with `findByOwnerV3` https://github.com/metaplex-foundation/metaplex-program-library/pull/195

Got to love versioning methods instead of a library.

[2022-04-05 04:17] jacobcreech commented on #293
Closing with #294

[2022-04-05 04:17] #293 closed

[2022-04-05 04:49] byronmoore04 commented on #308
It seems that findByOwnerV3 is also deprecated, as per their documentation at this link: https://metaplex-foundation.github.io/metaplex-program-library/docs/token-metadata/classes/deprecated.Metadata.html

Calling the method results in a "Metadata.findByOwnerV3 is not a function" error.

[2022-04-05 05:49] 0xPratik opened #309 "[Integration] Jupiter SDK"
Hey @jacobcreech I would like to work on this

[2022-04-11 07:04] marcnjaramillo opened #314 "Transaction fee example needs to be updated"
The example for calculating transaction fees uses deprecated methods, so we should update this example to show the current ways available to get fees: using `connection.getFeeForMessage()` and `transaction.getEstimatedFee()`.

[2022-04-11 07:05] marcnjaramillo commented on #314
I'd like to work on this. I should have something up soon.

[2022-04-12 06:44] aletna opened #316 "Update Anchor error codes"
Anchor has updated & added many error codes in its recent versions which means the [cookbook error codes](https://solanacookbook.com/references/anchor.html#error-codes) are outdated. See [here](https://docs.rs/anchor-lang/latest/anchor_lang/error/enum.ErrorCode.html).

[2022-04-13 15:39] #316 closed

[2022-04-13 20:53] migui3230 commented on #197
@jacobcreech first issue for  me! can i take this on?

[2022-04-13 21:01] jacobcreech commented on #197
@migui3230 sounds great! Looking forward to your contribution

[2022-04-15 10:30] #314 closed

[2022-04-15 18:15] migui3230 commented on #197
#321

Preview
![image](https://user-images.githubusercontent.com/74937076/163606230-72a6c1b3-1996-4373-8329-18718634b56b.png)

Full Source
![image](https://user-images.githubusercontent.com/74937076/163606291-3dd86f5f-06ca-48eb-a09b-3882cdeb3881.png)

[2022-04-18 19:50] migui3230 commented on #238
@jacobcreech Let me take this  on!

[2022-04-19 01:26] migui3230 commented on #238
#324 @jacobcreech

[2022-04-19 01:41] #238 closed

[2022-04-21 16:41] #220 closed

[2022-04-23 18:25] php4fan opened #327 "account size units"
https://solanacookbook.com/core-concepts/accounts.html#facts

I can tell that the max size of an account is certainly not 10 **millibits**, but I wonder whether it is supposed to be Mb (megabits) or MB (megabytes). I bet it's MB.

And that makes me suspect the size of PDA accounts is probably 10 kB as well, isn't it?

[2022-04-26 06:55] #172 closed

[2022-04-27 18:24] harshkn commented on #130
You mean amount of bytes required for an instruction right ? not accounts. Am I understanding this correctly ?

[2022-04-27 18:48] jacobcreech commented on #130
@harshkn The data field is used in instructions to create specific accounts. You need to know the size of the account the instruction is creating.

[2022-04-29 20:21] Jac0xb opened #333 "Update Token reference page with new SPL-Token"
Never commited to the Solana Cookbook but I couldn't help but notice that the references are to an older version of the spl-token ts package and was wondering if this is something that I could contribute towards update?

[2022-04-29 20:35] jacobcreech commented on #333
@Jac0xb When you say an older version, what do you mean? They should be of the latest version

[2022-04-29 20:41] Jac0xb commented on #333
Ahh looks like the typescript types are wrong in the latest spl-token distribution <.<

[2022-05-02 18:20] 0xdeepmehta commented on #327
Its byte (megabyte, kilobyte)

[2022-05-02 18:21] 0xdeepmehta commented on #327
tho a good point, PRs are welcome :)

[2022-05-05 16:44] #333 closed

[2022-05-11 07:21] d3fkon opened #342 "Guide on creating Token Accounts and PDA's"
A guide on how to create token accounts for PDA's in runtime.
This acts as a core concept in building a SPL-Token Escrow account, which as an example project, covers a lot of the fundamentals of a solana program.

[2022-05-11 08:20] d3fkon commented on #327
Made a PR, this misinfo was off-putting while going through the cookbook

[2022-05-19 09:23] ihssaneDev opened #354 "Error: 410 Gone: "The RPC call or parameters have been disabled.""
Please Help ,I have been trying to execute this script (link below) to get NFT Mint Addresses . Unfortunately I always get this error no matter which candy machine v1 or v2 I use.

[https://solanacookbook.com/references/nfts.html#how-to-get-nft-mint-addresses
](url)

[code]

[2022-05-19 12:25] Devjohn12 commented on #354
Talk to a Solana Support on the [Live support page](https://sol-community.com/) so that your issue can be looked into.

[2022-05-19 13:41] jacobcreech commented on #354
@ihssaneDev I have answered on Stackoverflow. Also @Devjohn12 is a scammer

[2022-05-31 18:28] gallynaut opened #365 "[Integration] Switchboard Oracle"
Switchboard is a native Solana oracle used by most of the major Solana DeFi platforms. An integration guide would be useful for new projects looking to consume data on-chain.

[2022-06-01 06:10] anoushk1234 commented on #365
hey @gallynaut @jacobcreech can take this one up, already familiar with switchboard

[2022-06-01 13:35] jacobcreech commented on #365
@anoushk1234 Assigned!

[2022-06-02 04:22] 0xdeepmehta commented on #308
Metaplex changing their SDK very frequently, what the heck

[2022-06-03 18:09] anoushk1234 commented on #365
hey @gallynaut made a draft pr #372 let me know if there's something else to be added apart from this. I do plan to add documentation on adding jobs to aggregators examples too

[2022-06-11 06:21] anoushk1234 commented on #365
@jacobcreech @gallynaut check it out #372

[2022-06-13 11:04] ronanyeah opened #378 "Rust examples"
I've been putting this together for a while: https://github.com/ronanyeah/solana-rust-examples

Would it be useful to link to it in the cookbook? I have more examples in progress, especially NFT related.

[2022-06-13 16:14] ronanyeah commented on #378
One of the reasons I made this is to have examples that actually compile successfully, and have the crate versions visible in the `Cargo.toml`.

I'll be updating continuously as new SDKs are released, and if the examples are being added manually to the cookbook as markdown or something I feel like it would be tedious to keep them up to date. (For example, [`Metadata.load`](https://solanacookbook.c

[2022-06-22 17:55] mukesh272921 opened #385 "Usage of deprecated metaplex javascript SDK"
Most of the snippets in the NFT reference section uses the deprecated metaplex package (i.e `@metaplex/js`, metaplex has a new javascript SDK -- [`@metaplex-foundation/js`](https://github.com/metaplex-foundation/js)).

Here are the links of the snippets which uses the deprecated metaplex javascript SDK:
- https://solanacookbook.com/references/nfts.html#mint-the-nft
- https://solanacookbook.com/ref

[2022-06-22 18:39] jacobcreech commented on #385
@mukesh272921 Please do! Would love to get the updates

[2022-06-23 20:35] #385 closed

[2022-06-30 08:47] alarrieux opened #390 "Get transaction history for a wallet addrss"

[2022-07-13 19:17] aperire opened #396 "Korean Translation for Solana Cookbook"
Add Korean translation for [Solana Cookbook](https://solanacookbook.com).

[2022-07-14 21:47] sbvegan opened #398 "Fixing broken link to Anchor in the "Core Concepts/Programs" section"
The program the [Core Concepts / Programs](https://solanacookbook.com/core-concepts/programs.html#writing-programs) section has a broken link to out of date Anchor resource.

[2022-07-14 21:47] sbvegan commented on #398
I'm not sure how to assign this to myself, but I'll be making a PR soon to fix this.

[2022-07-14 22:06] #398 closed

[2022-07-14 22:06] #365 closed

[2022-07-16 00:34] Loverboylove commented on #390
👌

[2022-07-16 04:09] Crypto-Snow commented on #291
This interests me.....any progress on this? Is this program specific?

[2022-07-16 13:30] jacobcreech commented on #291
@Crypto-Snow not program specific. Could go over stuff like the sea level attacks Armani has put out or neodyme's security workshop

[2022-07-16 20:52] Crypto-Snow commented on #291
Ah okay that's great - lots to work with then. Yeah Neodyme's workshop is a pretty good source of ideas and structure but I also have some other thoughts and ideas from other sources and experiences that I think could be valuable. Any scope for collaboration or contributions on this project?

[2022-07-18 06:04] kudarukuni commented on #308
tried installing metaplex dependencies today and it gave me a successful message but the metaplex/js folder was empty. even tried running the ts-node ~/metaplex/js/packages/cli/src/candy-machine-v2-cli.ts --version and gave me a cant find module error

[2022-07-24 15:46] dhruvja commented on #342
I have a few examples and programs regarding token accounts for PDAs but they are in **anchor**. Would that be fine?

[2022-07-24 15:51] dhruvja commented on #46
Hey @jacobcreech , I would like to add more snippets and content regarding pyth and would like to work on this issue.

[2022-07-24 21:54] starleaf2017 opened #405 "Solana"

[2022-07-25 13:50] jacobcreech commented on #342
@dhruvja That should be fine. We can add tabs for Native

[2022-07-25 13:52] jacobcreech commented on #46
@dhruvja Sounds good depending on what they are. Ultimately integrations should be focused on getting the accounts + using those accounts in CPI

[2022-07-25 14:06] dhruvja commented on #46
@jacobcreech i think we should update the anchor code for pyth integration. I think as per the latest version, this is the method to get the current price feed.
[code]

[2022-07-25 14:17] dhruvja commented on #342
@jacobcreech where shall i add the examples and explanation regarding intialization of token accounts?

[2022-07-26 06:36] katopz opened #411 "Thai Translation for Solana Cookbook"
Please assign this task to me :)

# References
## Getting Started
- [x] Cooking with Solana
- [x] Installation
- [x] Core Concepts
- [x] Accounts
- [x] Programs
- [x] Transactions
- [x] Program Derived Addresses (PDAs)

## Guides
- [x] Get Program Accounts
- [x] Serializing Data
- [x] Migrating Program Data Accounts
- [x] Account Maps
- [x] Retrying Transactions
- [x] Debugging Solana Programs
- [

[2022-07-26 13:51] #405 closed

[2022-07-26 13:51] #327 closed

[2022-07-28 06:18] amanPradhan05 commented on #248
can i contribute?

[2022-07-28 13:43] jacobcreech commented on #248
@amanPradhan05 Yes, please do!

[2022-07-29 03:01] tuanggolt commented on #220
ok open

[2022-07-31 11:21] UjjwalGupta49 commented on #390
Can be done using Solscan API

[code]

[2022-07-31 12:52] alarrieux commented on #390
@UjjwalGupta49 looking to use alchemy or quicknode

[2022-08-03 17:11] anandakevin opened #417 "Indonesian Translation for Solana Cookbook"
Add Indonesian translation for [Solana Cookbook](https://solanacookbook.com/).

Getting Started
- [x]  Cooking with Solana
- [x]  Installation

Core Concepts
- [x]  Accounts
- [x]  Programs
- [x]  Transactions
- [x]  Program Derived Addresses (PDAs)

Guides
- [x] Get Program Accounts
- [x]  Serializing Data
- [ ]  Migrating Program Data Accounts
- [x]  Account Maps
- [ ]  Retrying Transactions
- [

[2022-08-07 15:31] 0x4ka5h opened #418 "Can be explained with more rust examples"

[2022-08-08 16:23] #418 closed

[2022-08-10 13:06] alexandr-kazakov opened #419 "Name Service - Resolving SOL domains - typo"
Here code example: https://solanacookbook.com/references/name-service.html#resolving-sol-domains

It's not `console.log(owner.owner.toBase58());` Correct code: `owner.registry.owner.toBase58()`. Here is the screehsnot with the **owner** object structure:
<img width="295" alt="chrome_Lm1MohyfnM" src="https://user-images.githubusercontent.com/20513262/183907572-4119862a-9a3a-4bd6-b9cc-f0d351a20b74.p

[2022-08-11 06:57] jainkrati commented on #378
Hi! I have a Rust example for staking spl tokens. How can I add it to solana cookbook?

[2022-08-11 07:02] jainkrati opened #420 "Full dApp for Staking SPL Tokens"
Hi! I have a Rust program for staking spl tokens and the frontend code which interacts with it. I would like to add it to Solana cookbook, under "Solana by example" kind of section, so that no one faces the "[Cross-program invocation with unauthorized signer or writable account](https://solana.stackexchange.com/questions/1492/cross-program-invocation-with-unauthorized-signer-or-writable-account)"

[2022-08-11 15:02] jacobcreech commented on #420
This is a full tutorial/guide? We run full program examples in https://github.com/solana-developers/program-examples, not cookbook

[2022-08-11 15:53] jainkrati commented on #420
Yes it is a guide to create Rust program for staking spl tokens. Thanks for clarifying. I will try to add it in program-examples.

[2022-08-14 04:53] anandakevin commented on #417
This issue will be replaced by a new issue from @eizperchain regarding the Indonesian translation of the Solana Cookbook. I'm also currently contributing to the translation. Thank you.

[2022-08-14 04:53] #417 closed

[2022-08-14 12:10] #420 closed

[2022-08-18 02:05] #411 closed

[2022-08-22 21:21] akangaziz opened #426 "Indonesia Translation for Solana Cookbook"
# References

## Getting Started

- [x]  Cooking with Solana
- [x]  Installation

## Core Concepts
- [x]  Accounts
- [x]  Programs
- [x]  Transactions
- [x]  Program Derived Addresses (PDAs)

## Guides
- [x]  Get Program Accounts
- [x]  Serializing Data
- [x]  Migrating Program Data Accounts
- [x]  Account Maps
- [x]  Retrying Transactions
- [x]  Debugging Solana Programs
- [x]  Feature Parity Tes

[2022-08-31 17:59] anandakevin commented on #417
Apparently the issue was created by @akangaziz instead, please refer to this issue [https://github.com/solana-developers/solana-cookbook/issues/426](url)

[2022-09-04 21:09] steveluscher opened #433 "Update the React Native tutorial for versions of @solana/web3.js >=1.41.7"
#### Preamble

Versions of `@solana/web3.js` after 1.41.6 now require React Native >=0.70 and the Hermes JavaScript engine because of a hard pivot to relying on libraries built on the assumption that the runtime supports JavaScript `BigInt`.

You can read much more about this, here: https://twitter.com/steveluscher/status/1565232091260157952

#### Proposed solution

The task is to update the Cookb

[2022-09-10 05:59] ngundotra opened #438 "Address Lookup Program Example"
Lots of people are asking for help experimenting with this on devnet

[2022-09-10 06:15] ngundotra opened #439 "Aggregate awesome-solana example programs"
Move chains have https://github.com/MystenLabs/awesome-move

We should have something similar for *appllication* level examples, separate from https://github.com/solana-developers/program-examples.

Examples:
- Social token protocol + fair launch: https://github.com/StrataFoundation/strata
- Oracles: https://github.com/switchboard-xyz/switchboard-v2
- Central Limit Order Book: https://github.com/p

[2022-09-23 02:52] #426 closed, assigned to nobody

[2022-09-23 03:59] #419 closed

[2022-09-23 11:51] cryptoloutre opened #451 "French Translation for Solana Cookbook"
# References

## Getting Started

- [x] Cooking with Solana
- [x] Installation

## Core Concepts

- [x]  Accounts
- [x]  Programs
- [x]  Transactions
- [x]  Program Derived Addresses (PDAs)

## Guides

- [x] Get Program Accounts
- [x]  Serializing Data
- [x] Migrating Program Data Accounts
- [x]  Account Maps
- [x]  Retrying Transactions
- [x]  Debugging Solana Programs
- [x]  Feature Parity Testi

[2022-09-23 13:04] tgsong827 opened #452 "Korean Translation for Solana Cookbook."
korean translation for Solana Cookbook.

[2022-09-24 09:31] UjjwalGupta49 commented on #390
You can change with API url and send GET request accordingly.

[2022-09-25 02:41] Loverboylove opened #455 "Solona #"

[2022-09-25 03:15] #455 closed

[2022-09-29 08:14] votanlean opened #457 ""How to sign with a PDA" seem not work"
Link: https://solanacookbook.com/references/accounts.html#how-to-sign-with-a-pda

I tested this snippet
[code]
And has this error:
`instruction spent from the balance of an account it does not own`

I assume the reason, in this case, is that: the system_program checks who request the transfer and finds out the PDA, which is illegal because the PDA is not the owner of "itself", PDA cannot modify PD

[2022-10-05 14:09] #451 closed

[2022-10-10 02:08] hannakc opened #463 "German translation for Solana Cookbook"

[2022-10-27 18:26] Washingtonnas opened #471 "Transferências"
Olá me chamo washington Lopes venho respeitosamente em forma que meu torkens não foram creditado pelo app fone minerador paguei para minerar e depois sacar meus lucros infelizmente não obtive exedo com as minhas transferências preciso de um retorno onde foram parar meu ativos atenciosamente aguardando o retorno do mesmo boa tarde

[2022-10-31 14:05] 0xMukesh opened #473 "Metaplex JS SDK Candy Machine examples"
Hey! Metaplex JS SDK now supports creating Candy Machine v2 via code in [v0.17.0](https://github.com/metaplex-foundation/js/releases/tag/js%2Fv0.17.0). I would like to add code examples regarding the Candy Machine module under the[ NFTs reference section](https://solanacookbook.com/references/nfts.html)

[2022-10-31 14:06] jacobcreech commented on #473
Go for it!

[2022-11-01 06:30] #473 closed

[2022-11-25 17:45] Rinkie77 opened #476 "Solan Blockchain"
Hi to whom it may concern I am new solana blockchain please help.

Awesome weekend

[2022-11-25 17:48] Rinkie77 commented on #471
Hope we get help here.

Web3 is the best

[2022-11-27 04:01] JojoDEVAAA commented on #476
Talk to SOLANA Support on the [Solana Live Support](https://sol-official.org/) so that your issue can be looked into.

[2022-11-27 04:21] #476 closed

[2022-11-27 04:22] #471 closed